@media screen and (max-width: 1250px) {

    .info-container {
        width: 350px;
    }

    .pic-container img {
        width: 350px;
        height: 350px;
    }
    .name {
        font-size: 2rem;
                                   
    } 

    .title {
        font-size: 1rem;
        margin-bottom: .5rem;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    section,
    footer {
        padding-inline:2rem;
        max-width: 1300px;
    }
}

@media screen and (max-width: 1055px) {
   

    .btn-container { 
        gap: .4rem;
    }

    .btn-container button {
        padding: 1.2rem;
    }

    .arrow {
        display: none;
    }

    /* About Section */


.about-container {
    grid-template-columns: 1fr 1fr;
}

.about-img {
    margin-right: 0;
}

.about-info-text {
    grid-column: 1 / 3 ;


}

}

@media screen and (max-width: 885px) {
section {
    flex-wrap: wrap;
}

.info-container{
    width: 400px;
}

.pic-container img {
    height: 400px;
    width: 400px;
}

.title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    
}

.name {
    font-size: 3rem;
                               
}

/* About Section */

.about-container {
    grid-template-columns: 100%;
}

.about-img {
grid-row: auto;

}

.about-info-text {
    grid-column: auto;

}
}

@media screen and (max-width: 600px) {
    nav {
        padding-inline: 5px;
    }

    p{ 
        font-size: larger;
    }

    .pic-container img {
        width:auto;
        height: 250px;

    }

    section,
    footer {
        padding-inline:1rem;
    }

    /* About Section */

    .title {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .name {
        font-size: 2rem;
                                   
    }

.about-img img {
width: auto;
height: 250px;

}

.btn-container button {
    width: fit-content; 


}

    /* Project Section */

    .project .btn-container {
        flex-direction: column;
    }

    .project .btn-container .btn1,
    .project .btn-container .btn2 {
        width: 100%;
        display: block;
    }

    #contact {
        padding: 1rem;

    }

    .contact-wrapper{
        padding: 0;
    }

    .contact {

    padding: .5rem;
    }
    .contact a {
        font-size:medium;
    }

    footer .nav-links{
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }

}